<!--Carousel Wrapper-->
    <div id="home" class="carousel slide carousel-fade white-text" data-ride="carousel" data-interval="false">

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!-- First slide -->
            <div class="carousel-item active view hm-black-light" style="background-image: url('images/coketourny/coketourny3.jpg'); background-repeat: no-repeat; background-size: cover;">
                
                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeIn col-md-12">
                        <li>
                            <p>We Are</p>
                        </li>
                        <li class="pinktext">
                            <h1 class="h1-responsive">Alameda Uprising</h1></li>
                        </li>
                        <li>
                            <p>Alameda, California</p>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->
                
            </div>
            <!--/.First slide-->

            <!-- Second slide -->
            <div class="carousel-item view hm-black-light" style="background-image: url('images/coketourny/coketourny2.jpg'); background-repeat: no-repeat; background-size: cover;">
                
                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeIn col-md-12">
                        <li class="pinktext">
                            <a href="#contact" 
                            class="btn btn-info btn-lg" rel="nofollow">
                            Follow us on social media!
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->
                
            </div>
            <!--/.Second slide -->

            <!-- Third slide -->
            <div class="carousel-item view hm-black-light" style="background-image: url('images/coketourny/coketourny7.jpg'); background-repeat: no-repeat; background-size: cover;">
                
                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeIn col-md-12">
                        <li class="pinktext">
                            <a href="#schedule"
                            class="btn btn-info btn-lg" rel="nofollow">
                            Come see our next game!
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->
                
            </div>
            <!--/.Third slide-->
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

    <br>

<!--Content-->
    <div class="container">
        <div class="row">
            <!--First columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.2s"  id="schedule">

                    <!--Card image-->
                    <div class="view hm-cyan-light">
                        <img src="images/coketourny/coketourny3.jpg" class="img-fluid" alt="">
                        <div class="card card-block mask flex-center white-text">
                            <h2 class="h2-responsive">2nd Place</h2>
                            <h3 class="h3-responsive">Bay Area Sports Tournament</h3>
                            {{#if schedule.0.date}}
                            <h5 class="text-center">{{schedule.0.date}}<br>
                            {{/if}}
                        </div>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Schedule</h4>
                        <!--Text-->
                        <p class="card-text">See our upcoming games.</p>
                        <a href="#gameschedule"
                        class="btn btn-info" data-toggle="collapse"
                        aria-expanded="false" aria-controls="gameschedule"
                        >
                        See Schedule
                        </a>
                        <div class="collapse" id="gameschedule">
                            <div class="card-block">
                                {{#each schedule}}
                                <h4 class="card-title">{{name}}</h4>
                                <p class="card-text">by {{organizer}}</p>
                                <h4 class="card-title">{{date}}</h4>
                                <p class="card-text">{{address}}</p>
                                <p class="card-text">{{details}}</p>
                                <a target="_blank" href="{{link}}" class="btn btn-primary">Click for more details</a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.6s" id="news">

                    <!--Card image-->
                    <div class="view hm-black-light">
                        <img src="images/coketourny/coketourny8.jpg" class="img-fluid" alt="">
                        <div class="mask flex-center">
                        </div>
                    </div>
                    <!--/.Card image-->
                
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">News</h4>
                        <!--Text-->
                        <p class="card-text">Check out our announcements.</p>
                        <a href="#newsection" 
                        class="btn btn-info" data-toggle="collapse"
                        aria-expanded="false" aria-controls="news"
                        >
                        News
                        </a>
                        <div class="collapse" id="newsection">
                            <div class="card-block">
                                <h4 class="card-title">TBA</h4>
                            </div>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
            </div>
            <!--Second columnn-->
            
            <!--Third columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.4s" id="roster">

                    <!--Card image-->
                    <div class="view hm-black-light">
                        <img src="images/coketourny/coketourny9.jpg" class="img-fluid" alt="">
                        <div class="mask flex-center">
                        </div>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Roster</h4>
                        <!--Text-->
                        <p class="card-text">Meet our players and coaching staff.</p>
                        <a href="#rosterlist" 
                        class="btn btn-info" data-toggle="collapse"
                        aria-expanded="false" aria-controls="rosterlist"
                        >
                        See Roster
                        </a>
                        <div class="collapse" id="rosterlist">
                            <div class="card-block texter-center">
                                <h3 class="h3-responsive text-center">PLAYERS</h3>
                                <ul class="list-group">
                                    {{#each roster}}
                                    <li class="list-group-item justify-content-between">
                                        {{name}}
                                        <span class="badge badge-primary badge-pill">{{jersey}}</span>
                                    </li>
                                    {{/each}}
                                </ul>
                                <br>
                                <h3 class="h3-responsive text-center">HEAD COACH</h3>
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between">
                                        {{headcoach}}
                                    </li>
                                </ul>
                                <p></p>
                                <br>
                                <h3 class="h3-responsive text-center">ASSISTANT COACHES</h3>
                                <ul class="list-group">
                                    {{#each assistantcoaches}}
                                    <li class="list-group-item justify-content-between">
                                        {{this}}
                                    </li>
                                    {{/each}}
                                </ul>
                                <br>
                                <h3 class="h3-responsive text-center">GENERAL MANAGER</h3>
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between">
                                        {{generalmanager}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Third columnn-->
        </div>
    </div>
    <!--/.Content-->



    